.padre{

    
    width: 500px;
    border: 1px solid black;
    display: inline-block;
    margin: 100px 100px 100px 100px;
      }



.about {
	   background-color:yellow;
	   margin:0px;
	   padding:40px;
	   height:30px;
	   width:90px;
	   border:2px solid yellow;
	   float:both;
	   display:block;
      }

.stars{
	   background-color:#4BA7FD;
	   margin:0px;
	   padding:40px;
	   height:30px;
	   width:90px;
	   border:2px solid #4BA7FD;
	   float:both;
	   display:block;
      }

.girl{
	   background-color:#F04595;
	   margin:0px;
	   padding:40px;
	   height:30px;
	   width:90px;
	   border:2px solid #F04595;
	   float:both;
	   display:block;
     }

     